FIRESTORE_TYPE="service_account"
FIRESTORE_PROJECT_ID="xxxx"
FIRESTORE_PRIVATE_KEY_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FIRESTORE_PRIVATE_KEY=""
FIRESTORE_CLIENT_EMAIL=""
FIRESTORE_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FIRESTORE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIRESTORE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIRESTORE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIRESTORE_CLIENT_X509_CERT_URL=""