<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contoh 1</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti doloribus sequi amet, excepturi autem aliquid?</p>
    <p>Hallo <%= name %></p>
    <p>Lahir pada <%= yearOfBirth %></p>
    <p>Hobi:</p>
    <ul>
        <% hobbies.forEach(element => { %>
            <li><%= element%></li>
        <% }) %>
    </ul>
    <p>Status kelulusan:
        <% if (isGraduate) { %>
            Sudah lulus
        <% } else { %>
            belum lulus
        <% } %>
    </p>
</body>
</html>